<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Войти/Выйти в зависимости от условий -->
    <% if user_signed_in? %>
      <!-- Показывает логин, если пользователь залогинен -->
      <!-- Показывает кнопку "Выйти", если пользователь залонинен  -->
      <%= current_user.username%> |
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <!-- Показывает кнопку "Войти", если пользователь не залогинен -->
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
